h1 {
  color: #38b000;
}

p {
  color: #00ced1;
  background-color: #dc143c;
  padding: 10px;
  border: 10px solid #6495ed;
  /*margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;*/
  margin: auto 50px;
  text-align: center; /* -->  alinear textos */
}
