h1 {
  color: #81b29a;
}

a:link {
  color: #fb8500;
  text-decoration: none;
}

a:visited {
  color: #cdb4db;
  text-decoration: none;
}

/*Cuando ponemos el cursor sobre el links.*/
a:hover {
  color: #14213d;
  text-decoration: underline;
}

a:active {
  color: #00b4d8;
  text-decoration: underline;
}
